    <!-- start of footer -->

   <footer class="section-p1">
    <div class="col">
        <a class="logo-font" href="#">Dressed Up</a>
        <h4>Contact</h4>
        <p><strong>Address :</strong> Imaginary Building, Ernakulam,</br> P.O Kochi, Kerala</p>
        <p><strong>Phone :</strong> +91 9876504321</p>
        <p><strong>Hours :</strong> 9AM - 5PM (IST)</p>
        
    </div>


    <div class="col">
        <h4>My Account</h4>
        <a href="#">Sign Out</a>
        <a href="#">View All Orders</a>
        <a href="#">View Pending Orders</a>
        <a href="#">View All Users</a>
        <a href="#">Help</a>
    </div>



    <div class="copyright">
        <p>&#169 Dressed Up, 2022. Made By <a href="https://github.com/jooyal" target="_blank">Joseph Joyal</a></p>
    </div>

   </footer>
   <!-- end of footer -->