    <header id="header">
        <a class="navbar-brand" href="#">Admin Panel</a>

        <div>
            <ul id="navbar">
                <a href="#" id="close"><i class='fa fa-close'></i></a>
                <li><a style="font-size: 14px; font-weight: 500;" href="index.html">HOME</a></li>
                <li><a style="font-size: 14px; font-weight: 500;" href="shop.html">ALL USERS</a></li>
                <li><a style="font-size: 14px; font-weight: 500;" href="blog.html">ALL ORDERS</a></li>
                <li><a style="font-size: 14px; font-weight: 500;" href="about.html">ALL USERS</a></li>
                <li><a style="font-size: 14px; font-weight: 500;" href="blog.html">ALL PRODUCTS</a></li>
            </ul>
        </div>
        <div id="mobile">
            <i id="bar"  style="font-size: 16px;" class="fa fa-bars" aria-hidden="true"></i>      
                 
        </div>
    </header>

    <!-- End of header -->