    <!-- start of footer -->

   <footer class="section-p1" style="position: relative; z-index: 9999; background-color: rgb(255, 253, 250);">
    <div class="col">
        <a class="logo-font" href="#">Dressed Up</a>
        <h4>Contact</h4>
        <p><strong>Address :</strong> Imaginary Building, Ernakulam,</br> P.O Kochi, Kerala</p>
        <p><strong>Phone :</strong> +91 9876504321</p>
        <p><strong>Hours :</strong> 9AM - 5PM (IST)</p>
        <div class="follow">
            <h4>Follow Us</h4>
            <div class="icon">
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-pinterest-p"></i>
                <i class="fab fa-youtube"></i>
            </div>
        </div>
    </div>

    <div class="col">
        <h4>About</h4>
        <a href="#">About Us</a>
        <a href="#">Delivery Information</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Terms & Conditions</a>
        <a href="#">Contact Us</a>
    </div>

    <div class="col">
        <h4>My Account</h4>
        <a href="#">Sign Out</a>
        <a href="#">View Cart</a>
        <a href="#">My Wishlist</a>
        <a href="#">Track My Order</a>
        <a href="#">Help</a>
    </div>


    <div class="col install">
        
        <p>Secured payment Gateways</p>
        <img src="/homePageImage/pay.png" alt="">
    </div>

    <div class="copyright">
        <p>&#169 Dressed Up, 2022. Made By <a href="https://github.com/jooyal" target="_blank">Joseph Joyal</a></p>
    </div>

   </footer>
   <!-- end of footer -->