    <header id="header">
        <a class="navbar-brand logo-font" href="/home">Dressed Up</a>

        <div>
            <ul id="navbar">
                <a href="#" id="close"><i class='fa fa-close'></i></a>
                <li><a style="font-size: 14px; font-weight: 500;" href="/home">HOME</a></li>
                <li><a style="font-size: 14px; font-weight: 500;" href="/men">MEN</a></li>
                <li><a style="font-size: 14px; font-weight: 500;" href="/women">WOMEN</a></li>
                <li><a style="font-size: 14px; font-weight: 500;" href="/living">LIVING</a></li>
                <li><a style="font-size: 14px; font-weight: 500;" href="/order-history">Order History</a></li>
                <li><a style="font-size: 14px; font-weight: 500;" href="/logout">Log Out</a></li>
                <li><a style="font-size: 14px;" href="/wishlist">
                    <div style="flex-direction: column;" class="d-flex align-items-center">
                        <span class="badge bg-danger wishlist-notification-badge" id="wishlistCountBadge">{{wishlistCount}}</span>
                        <i class="fa-solid fa-heart"></i>
                        <span style="font-size: 13px; font-weight: 500;">Wishlist</span>
                    </div></i></a>
                </li>
                <li><a style="font-size: 14px;" href="/user-profile">
                    <div style="flex-direction: column;" class="d-flex align-items-center">
                        <i class="fa-solid fa-user"></i>
                        <span style="font-size: 13px; font-weight: 500;">Profile</span>
                    </div></a>
                </li>
                <li id="lg-bag"><a href="/cart">
                    <div style="flex-direction: column;" class="d-flex align-items-center">
                    <span class="badge bg-danger top-notification-badge" id="cartCountBadge">{{cartCount}}</span>
                    <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                    <span style="font-size: 13px; font-weight: 500;">Cart</span>
                </div></a></li>
            </ul>
        </div>
        <div id="mobile">
            <a href="/cart"><i style="font-size: 16px;" class="fa fa-shopping-bag pb-3" aria-hidden="true"></i></a>
            <i id="bar"  style="font-size: 16px;" class="fa fa-bars" aria-hidden="true"></i>      
                 
        </div>
    </header>

    <!-- End of header -->