
<div class="container-fluid my-5">
    <div>
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
        <lottie-player class="align-items-center" src="/lottieFiles/404-error.json"  background="transparent"  speed=".9"  style="width: 250px; height: 250px;" loop autoplay></lottie-player>
    </div>
    <div class="container text-center mb-5">
        <h2 class="mt-3 pb-5">Oops! <br> Content not found</h2>
    </div>
    
</div>


<style type="text/css">
body {
    margin: 0%;
}
.text-center {
    text-align: center !important;
}
.mb-5 {
    margin-bottom: 3rem !important;
}
.mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}
.text-reset {
    --bs-text-opacity: 1;
    color: inherit !important;
}
a {
    color: #000000;
    text-decoration: none;
}
body {
    background: #eee;
}

lottie-player {
    margin: 0 auto;
    height: 10px;
}

</style>