<main id="main" class="main">
<section>
    
    <div class="container col-md-6 align-items-center justify-contents-center">
        
            <div>
                <div class="pagetitle">
                    <h1 class="my-4">All Carousel Images</h1>
                </div><!-- End Page Title -->

                <h5 class="mt-5 text-center">Current Carousel Images For Men's Category</h5>

                <div class="d-flex flex-column mt-3">
                    <div class="d-flex flex-column"><img style="height: 147.5px;" class="m-2"  src="/carouselImage/men-carousel-1.jpg" alt=""><label class="ms-4">Image-1</label></div>
                    <div class="d-flex flex-column"><img style="height: 147.5px;" class="m-2"  src="/carouselImage/men-carousel-2.jpg" alt=""><label class="ms-4">Image-2</label></div>
                    <div class="d-flex flex-column"><img style="height: 147.5px;" class="m-2"  src="/carouselImage/men-carousel-3.jpg" alt=""><label class="ms-4">Image-3</label></div>
                </div>

                <a href="/admin/change-carousel-men" class="w-100 mt-3 btn btn-warning"> Change Men Category Carousels</a>
                
                <h5 class="mt-5 text-center">Current Carousel Images For Women's Category</h5>

                <div class="d-flex flex-column mt-3">
                    <div class="d-flex flex-column"><img style="height: 147.5px;" class="m-2"  src="/carouselImage/women-carousel-1.jpg" alt=""><label class="ms-4">Image-1</label></div>
                    <div class="d-flex flex-column"><img style="height: 147.5px;" class="m-2"  src="/carouselImage/women-carousel-2.jpg" alt=""><label class="ms-4">Image-2</label></div>
                    <div class="d-flex flex-column"><img style="height: 147.5px;" class="m-2"  src="/carouselImage/women-carousel-3.jpg" alt=""><label class="ms-4">Image-3</label></div>
                </div>

                <a href="/admin/change-carousel-women" class="w-100 mt-3 btn btn-warning"> Change Women Category Carousels</a>

                <h5 class="mt-5 text-center">Current Carousel Images For Living Category</h5>

                <div class="d-flex flex-column mt-3">
                    <div class="d-flex flex-column"><img style="height: 147.5px;" class="m-2"  src="/carouselImage/living-carousel-1.jpg" alt=""><label class="ms-4">Image-1</label></div>
                    <div class="d-flex flex-column"><img style="height: 147.5px;" class="m-2"  src="/carouselImage/living-carousel-2.jpg" alt=""><label class="ms-4">Image-2</label></div>
                    <div class="d-flex flex-column"><img style="height: 147.5px;" class="m-2"  src="/carouselImage/living-carousel-3.jpg" alt=""><label class="ms-4">Image-3</label></div>
                </div>

                <a href="/admin/change-carousel-living" class="w-100 mt-3 btn btn-warning"> Change Living Category Carousels</a>

            </div>

        
    </div>
</section>
</main>