<h2 class="my-3 text-center text-success">Available Offers</h2>
<div class="wrapper-div">
    <div class="container mt-5">
        <div class="d-flex justify-content-center row">
            <div class="col-md-6"> 

                {{#each offers}}

                <div class="coupon p-3 my-2 bg-white"> 
                    <div class="row no-gutters"> 
                        <div class="col-md-4 border-right"> 
                            <div class="d-flex flex-column justify-contents-center align-items-center">
                                <img src="https://i.imgur.com/XwBlVpS.png">
                                <span class="d-block">DRESSED UP</span>
                                <span class="text-black-50">All Categories</span>
                            </div> 
                        </div> 
                        <div class="col-md-8"> 
                            <div> 
                                <div class="d-flex flex-row justify-content-end pt-4"> 
                                    <h2 style="margin-bottom: -32px;">{{this.percentage}}%</h2>OFF
                                </div> 

                                <div class="d-flex flex-row px-3">
                                    <span>Promo code:</span><span class="border border-success ms-2 px-3 rounded code">{{this.code}}</span>
                                </div> 
                            </div> 
                        </div> 
                    </div> 
                </div>

                {{/each}}

            </div> 
        </div> 
    </div>
</div>

<style>

    body{
        background:#fde7ee !important;
        
    }
        
    .coupon{
        border-radius: 12px;
        box-shadow: 5px 8px 10px #d6d5d533;
    }
    
    body{
        background: rgb(251, 253, 255)
    }
    
    .code:hover{
        background: green;
        color: #fff;
        cursor: pointer
    }

    .wrapper-div {
        min-height: 75vh
    }

</style>