<div class="text-center my-3  align-items-center d-flex flex-column">
    <h1>Change Account Info</h1>
    <p>Random Person, Change your account settings here.</p>
    <div class="rounded bg-white shadow p-3 mb-5 d-flex flex-column align-items-center justify-content-center" style="width: fit-content;">
        <form action="">
        <div id="userName" class="mt-4">Current Name : Random person</div>
        <label for="newUserName">Enter your new name</label>
        <input type="text" class="form-control" id="newUserName">
        
        <div id="userEmail" class="mt-4">Current Email : example@email.com</div>
        <label for="newuserEmail">Enter your new email</label>
        <input type="text" class="form-control" id="userEmail">

        <div id="userPhoneNumber" class="mt-4">Current Phone No. : 9879879870</div>
        <label for="newuserPhoneNumber" >Enter your new phone number</label>
        <input type="text"  class="form-control"id="newuserPhoneNumber">        
        
        <button type="submit" class="btn btn-warning mt-4 mb-4"> Save Account Info</button>

        </form>
    </div>
</div>