<div class="text-center my-3  align-items-center d-flex flex-column">
    <h1 class="mt-3">Change Password</h1>
    <p class="mt-3">{{data.userName}}, Change your Account Password here.</p>
    <div class="bg-white shadow p-3 mb-5 mt-4 d-flex flex-column align-items-center justify-content-center" style="width: 36vw; border-radius: 20px !important;">
        
        <label class="mt-4" for="currentPassword">Enter Your Current Password</label>
        <input type="password" class="form-control text-center mt-1" id="currentPassword">
        
        <label class="mt-3" for="newPassword">Enter Your New Preferred Password</label>
        <input type="password" class="form-control text-center mt-1" id="newPassword">

        <label class="mt-3" for="newPasswordConfirm" >Confirm Your New Password</label>
        <input type="text"  class="form-control text-center mt-1" id="newPasswordConfirm">        
        
        <p class="mt-1" style="color: red; !important" class="text-center text-danger mt-2" id="userPasswordErr">{{changeUserPasswordErr}}</p>

        <button class="btn btn-success mt-3 mb-3" onclick="changeUserPassword('{{data.userId}}')">Change Password</button>
        <br>
        <small class="text-muted"> > Password length must be of atleast 8 characters.<br>
        > After successfully changing your account info, you will be Logged Out.</small>

        
    </div>
</div>

<style>
body {
    background: rgb(243, 243, 243)
}
</style>