    <section id="contact-details" class="section-p1 my-5">
        <div class="details">
            <span>GET IN TOUCH</span>
            <h2>Visit us or Contact us</h2>
            <h3>Head Office</h3>
            <div>
                <li>
                    <i class="fa fa-map" aria-hidden="true"></i>
                    <p>Imaginary Building, Ernakulam,<br> P.O Kochi, Kerala</p>
                </li>
                <li>
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    <p>Contact@example.com</p>
                </li>
                <li>
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <p>+91 9876504321</p>
                </li>
                <li>
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    <p>09:00AM - 05:00PM (IST)</p>
                </li>
            </div>
        </div>
            <div class="map">
                
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d251491.32597840275!2d76.16820305298687!3d9.971183565962619!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b080d08f976f3a9%3A0xe9cdb444f06ed454!2sErnakulam%2C%20Kerala!5e0!3m2!1sen!2sin!4v1671699024657!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        
    </section>
 
