<div style="min-height: 100vh;" class="container text-center">
    <h1 class="pt-5 pb-5">Delivery Information</h1>
    <h5 class="pb-5">We strive to make deliveries as quick as possible. It will take <strong>approximately 3 to 7 business days</strong> for your product to get delivered. <span class="text-success" style="font-size: 40px;"> Happy Shopping!</span></h5>
</div>

<style>
    body{
        background-color: azure;
    }
</style>