<div class="container text-center my-5">
    <h2 class="mt-3 pb-5">Delivery Information</h2>
    <h5 class="pb-5">We are striving to make deliveries as quick as possible. It will take <strong>approximately 3 to 7 business days</strong> for your product to get delivered.</h5>
</div>