    <!-- cart items details-->
    <div class="small-container mb-5">
        <h5 class="pb-2 " style="font-weight:300;">Order Id : 765rftu678f687tyftytit</h5>
      <table>
        <tr>
          <th>Product</th>
          <th>Quantity</th>
          <th>Subtotal</th>
        </tr>
        <tr>
          <td>
            <div class="cart-info">
              <img src="/productImages/f2.jpg" alt="Tshirt" />
              <div>
                <p>Orange Printed Tshirt</p>
                <small>Unit Price: &#8377;78.00</small>
                <br />
              </div>
            </div>
          </td>
          <td>
            <input type="number" value="5" disabled />
          </td>
          <td>&#8377;78.00</td>
        </tr>
        
      </table>

      <div class="total-price">
        <table>
          <tr>
            <td>Total</td>
            <td>&#8377;234.00</td>
          </tr>
          <tr>
            <td>Coupon Discount</td>
            <td>&#8377;0</td>
          </tr>
          <tr>
            <td>Tax</td>
            <td>&#8377;35.00</td>
          </tr>
          <tr>
            <td>Subtotal</td>
            <td>&#8377;234.00</td>
          </tr>
        </table>
      </div>
    </div>

    