    <!-- cart items details-->
    <div class="small-container">
      <table>
        <tr>
          <th>Order Id</th>
          <th>Date and time</th>
          <th>Price</th>
          <th>Options</th>
        </tr>
        <tr>
          <td>
            Order Id :7575766788ghgyuyuty
          </td>
          <td>
            21/12/2022, 12:30PM
          </td>
          <td> 
            &#8377; 8788
          </td>
          <td>
            <a href="/view-order-items/{{this._id}}" class="btn btn-warning">View Items</a>
          </td>
        </tr>
        
      </table>

    
      </div>
    </div>

    