    <!-- cart items details-->
    <div class="small-container mb-5">
        <h6 class="pb-2 " style="font-weight:300;">Order Id : 765rftu678f687tyftytit</h6>
        <h4>Delivery Details</h4>
      <div style="border: solid; border-color: #088178;" class="d-flex flex-column my-4 p-3">
        <h5><span style="color: #088178;">Name Of The Customer : </span> Joseph Joyal</h5>
        <h5><span style="color: #088178;">Phone No. : </span> 9876543210</h5>
        <h5><span style="color: #088178;">Delivery Address : </span> jtjgvjggjjhjhbjhbjhbjbh</h5>
        <h5><span style="color: #088178;">Payment Method : </span> ONLINE</h5>
        <h5><span style="color: #088178;">Order Status : </span> Placed</h5>
      </div>

      <table>
        <tr>
          <th>Product</th>
          <th>Quantity</th>
          <th>Subtotal</th>
        </tr>
        <tr>
          <td>
            <div class="cart-info">
              <img src="/productImages/" style="width: 110px; height: 147.5px;" alt="Tshirt" />
              <div>
                <p>Orange Printed Tshirt</p>
                <small>Unit Price: &#8377;78.00</small>
                <br />
              </div>
            </div>
          </td>
          <td>
            <input type="number" value="5" disabled />
          </td>
          <td>&#8377;78.00</td>
        </tr>
        
      </table>

      <div class="total-price">
        <table>
          <tr>
            <td>Total</td>
            <td>&#8377;234.00</td>
          </tr>
          <tr>
            <td>Coupon Discount</td>
            <td>&#8377;0</td>
          </tr>
          <tr>
            <td>Tax</td>
            <td>&#8377;35.00</td>
          </tr>
          <tr>
            <td>Subtotal</td>
            <td>&#8377;234.00</td>
          </tr>
        </table>
      </div>
    </div>

    