
<div class="h-screen py-20 mt-5 px-3">
    <div class="container mx-auto d-flex align-items-center">
        <div class="max-w-sm mx-auto md:max-w-lg">
            <div class="w-full">
                <div class="rounded bg-white shadow h-64 py-3 text-center">

                    <div style="width: 350px;" class="py-5">
                        <h2 class="text-2xl font-bold">OTP Verification</h2>
                        <div class="mt-4">
                            <span>Enter the OTP you received at</span>
                            <span class="font-bold text-primary">+91 <div id="otpVerifyMobileNumber" style="display: inline;">{{mobileNo}}</div></span>
                        </div>
                    
                        <div id="otp" style="flex-direction: row;" class="d-flex justify-content-center text-center px-2 mt-5">
                            <input style="width: 40px;" class="m-1 border text-center form-control rounded" type="text" id="first" maxlength="1" /> 
                            <input style="width: 40px;" class="m-1 border text-center form-control rounded" type="text" id="second" maxlength="1" /> 
                            <input style="width: 40px;" class="m-1 border text-center form-control rounded" type="text" id="third" maxlength="1" /> 
                            <input style="width: 40px;" class="m-1 border text-center form-control rounded" type="text" id="fourth" maxlength="1" />
                            <input style="width: 40px;" class="m-1 border text-center form-control rounded" type="text" id="fifth" maxlength="1" /> 
                            <input style="width: 40px;" class="m-1 border text-center form-control rounded" type="text" id="sixth" maxlength="1" />
                        </div>

                        <button onclick="checkAndCallVerify()"  class="btn btn-success mt-3">VERIFY</button> <br>
                        <h6 id="otpfieldErr" class="text-danger mt-2 mb-4"></h6>
                      {{!-- <br>
                        <a class="btn-warning btn mt-5 ">Resend OTP</a> --}}

                    </div>

                      
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    body {
        background-color: rgb(252, 244, 255);
    }
</style>

<script>
    
document.addEventListener("DOMContentLoaded", function(event) {

    function OTPInput() {
        const inputs = document.querySelectorAll('#otp > *[id]');
        for (let i = 0; i < inputs.length; i++) { 
            inputs[i].addEventListener('keydown', function(event) {
                if (event.key==="Backspace" ) {
                    inputs[i].value='' ;
                    if (i !==0) inputs[i - 1].focus(); 
                } else {
                    if (i===inputs.length - 1 && inputs[i].value !=='' ) { 
                        return true; 
                    } else if (event.keyCode> 47 && event.keyCode < 58) {
                        inputs[i].value=event.key; 
                        if (i !==inputs.length - 1) {inputs[i + 1].focus(); event.preventDefault();} 
                    } else if (event.keyCode> 64 && event.keyCode < 91) { 
                            inputs[i].value=String.fromCharCode(event.keyCode); 
                        if (i !==inputs.length - 1) inputs[i + 1].focus(); event.preventDefault(); 
                    }
                } 
            }); 
        } 
    } 
                     
OTPInput(); });

let checkAndCallVerify = ()=>{
    let field1 = document.getElementById('first').value
    let field2 = document.getElementById('second').value
    let field3 = document.getElementById('third').value
    let field4 = document.getElementById('fourth').value
    let field5 = document.getElementById('fifth').value
    let field6 = document.getElementById('sixth').value
    let otpfieldErr = document.getElementById('otpfieldErr')
    let mobile = document.getElementById('otpVerifyMobileNumber').innerHTML
    
    otpfieldErr.innerHTML = ''

    if(field1!=='' && field2!=='' && field3!=='' && field4!=='' && field5!=='' && field6!==''){

        let otp = field1+field2+field3+field4+field5+field6
        
        verifyOTP(otp, mobile)

    }else {
        otpfieldErr.innerHTML = 'Enter OTP To Continue!'
    }
}

</script>