<div class="container my-5">

    <div>
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
        <lottie-player class="align-items-center" src="/lottieFiles/cookies.json"  background="transparent"  speed=".9"  style="width: 200px; height: 200px;" loop autoplay></lottie-player>
    </div>

     <h4>Privacy Policy & Acknowledgement</h4>

    <p>
        0.1  We use Cookies for authorization purposes. If you choose to disable cookies on your computer or mobile telecommunication device, it may impair, degrade or restrict access to certain areas of the Platforms.
        <br> <br>
        0.2  This website make use of javascript. If you choose to disable javascript, this website WILL NOT WORK AS INTENDED.
        <br> <br>
        Acknowledgement : All product images and product information made available in this site is fetched from <a href="https://www.myntra.com/">Myntra.</a>
    </p>
</div>

<style>
    body {
        background-color: azure;
    }
</style>