<section id="prodetails" class="section-p1">
        <div class="single-pro-image">
            <img src="/productImages/f2.jpg" width="100%" id="mainImg" alt="">

            <div class="small-img-group pt-1">
                <div class="small-img-col">
                    <img src="/productImages/f2.jpg" width="100%" id="smallImg1" class="small-img" alt="">
                </div>
                <div class="small-img-col">
                    <img src="/productImages/f3.webp" width="100%" id="smallImg2" class="small-img" alt="">
                </div>
                <div class="small-img-col">
                    <img src="/productImages/f2.jpg" width="100%" id="smallImg3" class="small-img" alt="">
                </div>
                <div class="small-img-col">
                    <img src="/productImages/f2.jpg" width="100%" id="smallImg4" class="small-img" alt="">
                </div>
            </div>
        </div>

        <div class="single-pro-details">
            <h3 style="font-weight: bold;">ADDIDAS</h3>
            <p style="font-size: x-large; font-weight: 300;">Men Teal & Orange Colourblocked Hooded Sweatshirt</p>
            <div class="py-3">
                <h1>&#8377 139</h1> <span style="text-decoration: line-through;">MRP : 1390</span><span style="color: rgb(253, 39, 253);"> 90% OFF</span>
            </div>
            <span>Select Size</span><select name="size">
                {{#if top}}
                <option value="small">S</option>
                <option value="medium">M</option>
                <option value="large">L</option>
                <option value="xlarge">XL</option>
                <option value="xxlarge">XXL</option>
                {{/if}}
                {{#if bottom}}
                <option value="32">32</option>
                <option value="34">34</option>
                <option value="36">36</option>
                <option value="38">38</option>
                <option value="40">40</option>
                {{else}}
                <option value="freesize">freesize</option>
                {{/if}}

            </select>
            <input type="number" min="1" max="5" value="1">
            <button class="normal">Add to cart</button>
            <h4 style="font-weight: 300;">Product Details</h4>
            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga quis molestiae
                 ullam distinctio minus quisquam cupiditate vero in laboriosam optio. ipsum dolor sit amet consectetur adipisicing elit. 
                Magni quo a dignissimos quasi, incidunt quae. Omnis 
                sapiente beatae totam asperiores nemo laudantium 
                 doloribus autem culpa enim.
                 ipsum dolor sit, amet consectetur
                 adipisicing elit. Maiores non tempore tempora laborum
                 accusantium fuga, est et laboriosam. Et, tempore.</span>
        </div>
    </section>

    <section id="product1" class="section-p1 mt-5">
        <h2 style="font-weight: 300;">Products you may like</h2>
        <div class="pro-container">
            
            
        </div>

    </section>

    <script>
        imgMain = document.querySelector('#mainImg')
        smallImg1 = document.querySelector('#smallImg1')
        smallImg2 = document.querySelector('#smallImg2')
        smallImg3 = document.querySelector('#smallImg3')
        smallImg4 = document.querySelector('#smallImg4')

        smallImg1.addEventListener('click',()=>{
            imgMain.src = smallImg1.src
        })
        smallImg2.addEventListener('click',()=>{
            imgMain.src = smallImg2.src
        })
        smallImg3.addEventListener('click',()=>{
            imgMain.src = smallImg3.src
        })
        smallImg4.addEventListener('click',()=>{
            imgMain.src = smallImg4.src
        })
    </script>