<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <section class="wrapper mt-2">
		<div class="container d-flex">
			<div class="col-sm-8 offset-sm-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4 text-center">
				{{!-- <div class="logo">
					<img src="images/logo.png" class="img-fluid" alt="logo">
				</div> --}}

				<form onsubmit="enableSubmit()" style="background-color: rgb(255, 255, 255);" class="rounded shadow p-5" method="post" action="">
					<h3 class="text-dark fw-bolder fs-4 mb-5">Create New Account</h3>
					
					<div class="text-danger" id="serverErrMsg">{{signupError}}</div>
					{{!-- <a href="#" class="btn btn-light login_with w-100 mb-4">
						<img src="images/google-icon.svg" class="img-fluid me-3">Sign in with Google</a>
					</a>  --}}
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingFirstName" name="fullName" oninput="validateSignupName()" placeholder="name@example.com">
                        <label for="floatingFirstName">Full Name</label>
						<div class="text-danger" id="firstNameErr"></div>
                    </div>
					<div class="form-floating mb-3">
						<input type="email" class="form-control" id="floatingEmailInput" name="userEmail" oninput="validateSignupEmail()" placeholder="name@example.com">
						<label for="floatingEmailInput">Email address</label>
						<div class="text-danger" id="emailErr"></div>
					</div>
					<div class="form-floating mb-3">
						<input type="number" class="form-control" id="floatingMobileInput" name="userMobile" oninput="validateSignupMobile()" placeholder="9876543210">
						<label for="floatingMobileInput">Mobile No.</label>
						<div class="text-danger" id="mobileNoErr"></div>
					</div>
					<div class="form-floating mb-3">
						<input type="password" class="form-control" id="floatingPassword" name="userPassword" onkeyup="validateSignupPassword()" placeholder="Password">
						<label for="floatingPassword">Password</label>
						<span class="password-info mt-2">Use minimum 8 or more characters with a mix of uppercase, lowercase & symbols.</span>
						<div class="text-danger" id="passwordErr"></div>
					</div> 
                    <div class="form-floating mb-3">
						<input type="password" class="form-control" id="floatingConfirmPassword" name="confirmUserPassword" onkeyup="confirmSignupPassword()" placeholder="Password">
						<label for="floatingConfirmPassword">Confirm Password</label>
						<div class="text-danger" id="confirmPasswordErr"></div>
					</div> 
                    <div class="form-check d-flex align-items-center">
                        <input class="form-check-input mb-1" name="termsCheckBox" type="checkbox" id="gridCheck" onclick="checkSignupAgreement()" style="border-color: gray; border: solid;">
                        <label class="form-check-label ms-2" for="gridCheck">
                          I Agree to <a style="font-size: 15px;" href="/privacy-policy">Privacy Policy</a>.
						</label>
                    </div>
					<div class="text-danger" id="gridCheckErr"></div>
					<button type="submit" id="signUpSubmit" class="btn btn-primary submit_btn w-100 mt-4">Continue</button> 

										<div class="text-center text-muted text-uppercase mt-5 mb-2">or</div>

					<div class="fw-normal text-muted mb-2">
						Already have an account ? <a style="font-size: 15px;" href="/login" class="text-primary fw-bold text-decoration-none">Log in here</a>
					</div>
				</form>
			</div>
		</div>
	</section>


    <!-- start of footer -->
   <footer class="section-p1">
    <div class="copyright">
        <p>&#169 Dressed Up, 2023. Made By <a href="https://github.com/jooyal" target="_blank">Joseph Joyal</a></p>
    </div>
   </footer>
   <!-- end of footer -->

   <style>
	body {
		background-color: rgb(252, 244, 255);
	}
   </style>
