<div class="text-centermy-3  align-items-center d-flex flex-column">
    <h1>Account Info</h1>
    <p>Hello Random Person! You can find your account settings here.</p>
    <div class="rounded bg-white shadow p-3 mt-5 mb-5 d-flex flex-column align-items-center justify-content-center" style="width: fit-content; height: 50vh;">
        <div id="userName" class="m-3 d-flex flex-row"><i class="fa-solid fa-user p-1 me-2"></i><h5> Random person</h5></div>
        <div id="userEmail" class="m-3 d-flex flex-row"><i class="fa-solid fa-envelope p-1 me-2"></i><h5> example@email.com</h5></div>
        <div id="userPhoneNumber" class="m-3 d-flex flex-row"><i class="fa-solid fa-phone-volume p-1 me-2"></i> 9876504321</h5></div>
        <a href="/change-user-info" class="btn btn-warning" class="m-3">Change Account Info</a>
    </div>
</div>